nav li {
    display: inline;
    background-color: #3498DB; 
}

nav li a {
    color: #333;
}

input {
    border-radius: 8px;
    border: 2px solid #3498DB;
    padding: 8px 12px;
}

body {
    background-color: #ECF0F1;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.password-reset {
    font-weight: bold;
}

.nav-link {
    color: #ECF0F1 !important;
    text-decoration: none;
}